@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #cccce6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    width: 15%;
    height: 12%;
    background-color: #009B77;
    border: 2px solid black;
    border-radius: 15px;
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

.lvl1-cont {
    width: 35%;
    height: 17vh;
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
}

.lvl1-cube {
    width: 17vh;
    height: 17vh;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.inp {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 60px;
    width: 20%;
    height: 10%;
    background-color: transparent;
    border-radius: 30px;
    border: 4px solid black;
    outline: none;
    text-align: center;
    margin: 3% 0;
}

